[submodule "Orunarss/demo/tree/master/addons/My_states"]
	path = Orunarss/demo/tree/master/addons/My_states
	url = git@github.com:Orunarss/demo.git
	branch = master

[submodule "OCA/l10n-spain"]
	path = OCA/l10n-spain
	url = git@github.com:OCA/l10n-spain.git
	branch = 12.0

[submodule "oca/vertical-hotel"]
	path = oca/vertical-hotel
	url = git@github.com:oca/vertical-hotel.git
	branch = 13.0
